.separator {
    -gradient-height: 0px;
    -gradient-start: rgba(0, 0, 0, 0);
    -gradient-end: rgba(0, 0, 0, 0);
    -margin-horizontal: 0;
    color: rgba(#000, 0);
    background-image: url("img/misc/separator.svg");
    background-repeat: repeat;
    height: 13px;
}
