/* ======================================
 * ! Dash-to-Panel extension
 * ====================================== */
@each $d in Top, Bottom {
    $low_d: to-lower-case($d);

    #panel.dashtopanelMainPanel.dashtopanel#{$d} {
        border-image: url("img/panel/panel-#{$low_d}.svg") 7;

        .app-well-app-running-dot {
            @include size(0);
            border-image: none;
            background-color: transparent;
            border: 0;
        }

        .dash-item-container > * { padding: 0 6px; }

        .app-well-app:hover .overview-icon,
        .show-apps:hover .overview-icon {
            border-image: url("img/overview/overview-light-bg__dash--#{$low_d}.svg") 7;
        }

        @each $c in 1, 2, 3, 4 {
            .running#{$c} {
                &.focused .overview-icon,
                &:hover .overview-icon, {
                    border-image: url("img/overview/overview-light-bg__dash--#{$low_d}-active.svg") 7;
                }

                > * {
                    border-image: url("img/overview/app-indicator__#{$c}--#{$low_d}.svg") 14;
                }
            }
        }
    }
}

.preview-window-title { font-weight: bold; }
