/* ======================================
 * ! Popup Folder & Icons
 * ====================================== */

.app-folder-popup {
    -arrow-border-radius: 0;
    -arrow-background-color: rgba(0,0,0,0);
    -arrow-base: 0;
    -arrow-rise: 0;
}

.app-folder-popup-bin {
    border-image: url("img/containers/popup.svg") 8;
    padding: 11px 11px 0 11px;

    .overview-icon { color: $text-primary; }

    .app-well-app:hover .overview-icon,
    .app-well-app:focus .overview-icon,
    .app-well-app:selected .overview-icon,
    .app-well-app:active .overview-icon,
    .app-well-app:checked .overview-icon {
        border-image: url("img/containers/hover.svg") 7;
        color: $text-primary-invert;
    }

    .app-well-app-running-dot {
        border-image: url("img/overview/app-indicator--popup.svg") 3;
        @include size(9px);
    }
}

.app-folder-popup-bin {
    StScrollBar {
        padding-bottom: 17px;
    }
}

.app-folder-icon {
    padding: 5px;
    spacing-rows: 10px;
    spacing-columns: 10px;
}

.app-folder .overview-icon {
    border-image: url("img/overview/overview-dark-bg.svg") 7;
    text-align: center;
}
