/* ======================================
 * ! Paginator
 * ====================================== */
.page-indicator {
    padding: 10px 17px;

    .page-indicator-icon {
        @include size(12px);
        background-image: url("img/overview/paginator.svg");
    }

    &:hover .page-indicator-icon,
    &:active .page-indicator-icon {
        background-image: url("img/overview/paginator-hover.svg");
    }

    &:checked .page-indicator-icon {
        background-image: url("img/overview/paginator-checked.svg");
    }
}
