/* ======================================
 * ! Run dialog
 * ====================================== */

.run-dialog {
    .modal-dialog-linked-button,
    .modal-dialog-linked-button:hover,
    .modal-dialog-linked-button:focus,
    .modal-dialog-linked-button:active,
    .modal-dialog-linked-button:pressed,
    .modal-dialog-linked-button:focus:hover,
    .modal-dialog-linked-button:focus:active,
    .modal-dialog-linked-button:focus:pressed,
    .modal-dialog-linked-button:insensitive {
        border-image: none !important;
    }

    .modal-dialog-content-box {
        padding: 12px !important;
    }

    > *:last-child {
        background-color: rgba(0, 0, 0, 0);
        border-image: none;
        box-shadow: none;
        padding: 0;
        padding-top: 0;
        height: 0;
    }

    &-error-box {
        padding: .3em .1em .3em .2em;
        margin-top: 6px;
        spacing: 0;
        color: $text-danger;
        font-weight: bold;

        StIcon {
            @include size(0);
            color: $text-danger;
        }
    }

    &-label {
        font-size: 0;
        padding-bottom: 0 !important;
    }

    &-entry {
        width: 18em;
        margin-bottom: 0;
    }
}
