/* ======================================
 * ! Workspace Switcher
 * ====================================== */

.workspace-switcher {
    background: transparent !important;
    border: 0 !important;
    border-radius: 0 !important;
    spacing: 0 !important;

    padding: 3px !important;
    border-image: url("img/containers/popup-outside.svg") 10;
    border-image: none;

    &-group  {
        padding: 12px;
    }

    &-container {
        border: 0 !important;
        background-color: rgba(#000, 0) !important;
    }

    height: 0;
}

.ws-switcher-active-up,
.ws-switcher-active-down {
    border-image: url("img/containers/hover.svg") 7;
    border-image: none;
    height: 30px;
    background-image: none !important;
    background-color: transparent !important;
    border-radius: 0 !important;

    height: 0;
}

.ws-switcher-box {
    border-image: url("img/containers/popup-inside.svg") 7;
    border-image: none;
    height: 30px;
    border: 0 solid rgba(0, 0, 0, 0) !important;
    background: transparent;
    border-radius: 0 !important;

    height: 0;
}
