/* ======================================
 * ! Popup Folder & Icons
 * ====================================== */

.app-folder-popup {
        padding: 0;
        -arrow-border-radius: 0;
        -arrow-background-color: rgba(#131619, .85);
        -arrow-border-color: rgba(0, 0, 0, .8);
        -arrow-border-width: 1px;
        -arrow-base: 12px;
        -arrow-rise: 6px;
}

.app-folder-popup-bin {
    border-image: url("img/containers/popup-inside.svg") 8;
    padding: 11px 11px 0 11px;

    StScrollBar {
        padding-bottom: 17px;
    }

    .overview-icon {
        color: $text-primary;
    }

    .app-well-app:hover .overview-icon,
    .app-well-app:focus .overview-icon,
    .app-well-app:selected .overview-icon,
    .app-well-app:active .overview-icon,
    .app-well-app:checked .overview-icon {
        border-image: url("img/containers/hover-popup.svg") 7;
        color: $text-primary;
    }
}

.app-folder-icon {
    padding: 5px;
    spacing-rows: 10px;
    spacing-columns: 10px;
}

.app-folder .overview-icon {
    border-image: url("img/overview/overview-dark-bg.svg") 7;
    text-align: center;
}
