/* ======================================
 * ! OSD
 * ====================================== */

.info-osd {
    border-image: url("img/containers/popup.svg") 7;
    spacing: .4em;
    padding: .7em;
    color: $text-primary;
    text-align: center;
    font-weight: bold;
    font-size: $font-size-xl;
}

.osd-window {
    border-image: url("img/containers/popup.svg") 10;
    padding: 12px;
    spacing: 1em;
    color: $text-primary;

    .level {
        background-color: rgba(#000, .5);
        border: 1px #000;
        border-radius: 2px;
        height: .8em;
        color: $accent-primary;
    }

    .level-bar {
        background-color: $accent-primary;
        border-radius: 2px;
    }
}

/* Appears when switching workspaces */
.workspace-osd {
    border-image: url("img/containers/popup.svg") 7;
    padding: .7em;
    color: $text-primary;
    font-weight: bold;
    font-size: $font-size-xxl;
}

/* Appears when selecting with looking glass*/
#LookingGlassDialog {
    border-image: url("img/containers/popup.svg") 7;
    padding: 1.4em;
    spacing: .4em;
    color: $text-primary;

    StLabel:first-child  {
        font-weight: bold;
        font-size: $font-size-base;
    }

    StLabel:last-child  {
        padding-top: .4em;
        color: $text-secondary;
        font-size: $font-size-base;
    }
}
